.heroFirst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 125px;
    padding: 120px 105px 120px 105px;
    background-color: $colorButton;
    color: $colorBlack;
    height: max-content;
    
    // .main-right-img {
    //   background: url("../../img/hero1.png");
    // }
    .main-left-text {
        h1{
            font-size: 75px;
            font-family: 'Ideal Sans';
        }
      .upcase {
        text-transform: uppercase;
        color: $bgColorButton;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
      }
      p{
          font-size: 24px;
          font-weight: 400;
          font-family: 'Ideal Sans';
      }
    }
}