
.hero-section {
  
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 125px;
    padding: 120px 105px;
    background-color: $colorButton;
    color: $colorBlack;
    height: max-content;
  }
}

.hero-content {

  h4 {
    text-transform: uppercase;
    color: $bgColorButton;
    font-size: 24px;
    font-family: $font-family-base;
    margin-top: 20px;
  }
}

.hero-description {

  p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
  }
}
