h1{
    font-size: 70px;
    line-height: 75px;
}
h2{
    font-size: 50px;
    line-height: 60px;
}
h3{
    font-size: 32px;
    line-height: 40px;
}
h4{
    font-size: 24px;
    line-height: 28px;
}
h5{
    font-size: 22px;
    line-height: 23px;
}
h6{
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 1200px) {
    h1{
        font-size: 40px;
        line-height: 45px;
    }
    h2{
        font-size: 30px;
        line-height: 36px;
    }
    h3{
        font-size: 28px;
        line-height: 36px;
    }
    h4{
        font-size: 20px;
        line-height: 30px;
    }
    h5{
        font-size: 18px;
        line-height: 27px;
    }
    h6{
        font-size: 14px;
        line-height: 21px;
    } 
}