$colorBlack: #000000;
$colorButton: #FFFFFF;
$bgColorButton: #E76ECE;
$colorGrey: #F0F0F0;
$colorCard: #1996C3;
$colorGreen: #8DC63F;
$colorFog: #EFF9FD;
$colorCarrot: #D84E30;
$colorOrange: #F37E26;
$colorStatis: #009FD6;
$colorBlue: #003C82;